.vs/
BigNumberCalculator/bin/
BigNumberCalculator/obj/
BigNumberCalculatorRepository/obj/
BigNumberCalculatorService/obj/
BigNumberCalculatorRepository/bin/
BigNumberCalculatorService/bin/
BigNumberCalculatorTest/bin/
BigNumberCalculatorTest/obj/
